/* ____________Basic setup______________ */
*{
    padding:0;
    margin:0;
}
html{
    font-family: 'Inter', sans-serif;
}
h1,h2,h3{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
h4,h5{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    margin: 24px 0;
    font-size:20px;
}
.btn{
    font-size: 20px;
    padding:15px 20px;
    border:none;
    outline:none;
    color:#fff;
    background:#FF0000;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}
.container{
    width:82%;
    max-width: 1320px;
    margin:auto;
}
section{
    padding:120px 0;
}
/* ____________Here is header style__________ */
header .container{
    margin-top:50px;
}
header .header-section{
    background:linear-gradient(#000000, #00000000),url("../img/Banner_Image.png"); 
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    background-position: center center;
 }
header .header-content{
    padding:175px;
    text-align: center;
    color:#fff;
}
header .header-top-title{
    font-size:32px;
    font-weight: 400;
}
header .header-title{
    font-size:72px;
    margin-top:16px;
    line-height: 95px;
}
/* ____________Here is categories style___________ */
#categories{
    text-align: center;
}
#categories .categories-off{
    color:#FF0000;
    font-family:'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}
#categories .categories-top-title{
    color:#FF0000;
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}
#categories .categories-title{
    font-size: 48px;
    font-weight: 700;
    font-family:'Inter', sans-serif;
    margin:16px 0 48px 0;
}
/* ____________Here is welcome section style___________ */
#welcome{
    padding-top:0;
}
#welcome .welcome-content{
    background:linear-gradient(to right,#000000,#00000000),url("../img/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:#fff;
    padding:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}
#welcome .welcome-element{
    max-width:700px;
    margin: auto 0;
}
#welcome .welcome-title{
    font-size:64px;
    line-height: 88px;
    letter-spacing: 7px;
}
#welcome .welcome-description{
    font-size:18px;
    color:rgba(255, 255, 255, 0.80);
}
#welcome .welcome-btn{
    margin-top: 10px;
}
#welcome .welcome-btn:hover{
    color:#FF0000;
    background-color:#fff;
}
/* ____________Start Place section style_________ */
#place{
    padding:0;
}
#place .place-content{
    background: linear-gradient(#ff000017,#ff000000);
    text-align: center;
    padding:100px 
}
#place .place-content h3{
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}
#place .place-content h3 span{
    color:#FF0000;
}
#place .place-content .place-btn{
    margin-top: 30px;
}
#place .place-btn:hover{
    background:black;
}
/* ___________Here is style offer section____________ */
#offer .offer-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#offer .offer-top-title{
    color:#FF0000;
    font-weight: 500;
    font-size: 24px;
}
#offer .offer-left-title{
    font-size: 48px;
    margin-top:16px;
}
#offer .offer-left-description{
    color: rgba(7, 2, 17, 0.60);
    max-width:400px;
    font-size: 20px;
    text-align: justify;
}
#offer .offer-img{
    width:25%;
    height: 25%;
    padding:20px;
    border:15px solid #FF0000;
    border-radius: 50%;
    margin-top:-100px;
}
#offer .offer-img img{
    width:100%;
}
#offer .offer-right-title{
    color:#ff0000;
    font-size: 48px;
    font-weight: 700;
}
#offer .offer-right-description{
    max-width:400px;
    color: rgba(7, 2, 17, 0.60);
    font-size:20px;
    text-align: justify;
}
/* __________Here is style holyday section_____________ */
#holyday{
    text-align: center;
    padding-top:0;
}
#holyday .holyday-top-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom:16px;
}
#holyday .holyday-title{
    font-size:70px;
    margin-bottom: 28px;
}
#holyday .holyday-title span{
    color:#ff0000;
}
#holyday .holyday-description{
    color:rgba(7, 2, 17, 0.60);
    max-width:80%;
    margin:auto;
}
.holyday-img{
    position: relative;
    height:720px;
}
.holyday-img-item{
    display: flex;
    position:absolute;
    justify-content: space-between;
    gap:94px;
    bottom:0;
}
.holyday-left-img{
    z-index:100;
}
.holyday-right-img{
    align-items: end;
}
.discount{
    position: absolute;
    right:21%;
    bottom:42%;
}
.holyday-bottom-img{
    bottom:0;
    position: absolute;
}
